.container {
    width: 30em;
    align-self: center
}

/* .btn_reset_color {
    background-color: #D56C00 !important;
} */

.bottom_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.bottom_text span {
    margin-left: 2px;
}

.button_elem {
    display: grid;
    place-items: center;
}